.list-container {
  width: auto;
  
  
  background-color: lightgray;
  
}

.btn, .btn-primary {
  width: auto;
  display: flex;
  padding: 25px 35px;
  height: auto;
  align-items: center;
  
  
}

.formly-form {
  
  height: 100px;
  padding: 25px;
  margin: 100px;
}
