<form class="list-container" style="margin:25px; padding:25px;" [formGroup]="form" (ngSubmit)="onSubmit()">
  <formly-form
               class="formly-form"
               cdkDropList
               id="list-two" [cdkDropListConnectedTo]="['list-one']"
               [cdkDropListData]="fields"
               (cdkDropListDropped)="drop($event)"
               [model]="model" [fields]="fields" [options]="options" [form]="form">

  </formly-form>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
